.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Custom CSS for font */
@font-face {
  font-family: 'Integral CF';
  src: url('/Users/Gaming/Downloads/Integral-CF/Demo_Fonts/Fontspring-DEMO-integralcf-regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}


.custom-navbar {
  background-color: #c54734; /* Replace this with your desired color code */
  font-family: 'Integral CF', sans-serif;
}
.custom-font {
  font-family: 'Helvetica', sans-serif; /* Replace 'Your Custom Font' with the actual font name or family */
  /* You can also set other font properties like font-size, font-weight, etc. here */
}